html,
body {
    background-color: #eee;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 1rem;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

#brand-container {
    background-color: #ddd;
    height: 50vh;
    overflow-y: auto;
    padding: 1rem;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    margin: 1rem;
}

input {
    font-size: 1rem;
}

.brand-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid black;
    background-color: antiquewhite;
    padding: 0.5rem;
}

.card > .header {
    margin-bottom: 0.25rem;
}

.card > .body {
    font-size: 0.8rem;
    color: #777;
}

.hide {
    display: none;
}
